<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.aqar" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Aqar</name>
    <description>A real estate application</description>
    <author email="dev@example.com" href="http://example.com">Your Name</author>
    <content src="splash-screen.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
        <!-- Add specific domains for Firebase -->
    <allow-navigation href="https://*.firebaseio.com/*" />
    <allow-navigation href="https://*.googleapis.com/*" />
    
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="lightcontent" />
    
    <platform name="android"> 
    <preference name="android-minSdkVersion" value="23" />
    <preference name="android-targetSdkVersion" value="35" />
        <!-- Android icon and splash screen configurations -->
    </platform>
    
    <platform name="ios">
        <preference name="scheme" value="app" />
        <preference name="WKWebViewOnly" value="true" />
        <!-- iOS icon and splash screen configurations -->
    </platform>
</widget>