body {
    font-family: 'Tajawal', sans-serif;
}
.edit-profile-container {
    padding-bottom: 70px;
}
.form__error {
    display: none;
}
.form__input--error + .form__error {
    display: block;
}
.blurred-content {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}